.landing-page-grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

#login {
    padding: 1.5em;
    border-radius: 0.2em;
    background-color: #4285f4;
    font-weight: 900;
    font-size: 1.1em;
}

.chatroom-grid-container {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.chatroom-content {
    display: grid;
    grid-gap: 1em;
}

#chatroom {
    height: 20em;
    width: 50em;
    line-height: 1.2em;
}

#button-submit {
    width: 10em;
}

.center {
    text-align: center;
}